.tagline {
    font-family: 'Lota Grotesque', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0;
    text-align: left;
    transition: all var(--ifm-transition-fast);
}

.tagline span {
    color: transparent !important;
}

.relative {
    position: relative;
}

.logo {
    padding: 8em;
}

.heroBanner {
    padding-top: 100px;
    padding-bottom: 4rem;
}

.heroBanner h1:nth-child(1) {
    background: linear-gradient(90deg, rgb(66, 243, 140) 0%, rgb(76, 159, 215) 24%, rgb(73, 75, 225) 49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.heroBanner h1:nth-child(2) {
    position: absolute;
    top: 0;
    z-index: 1;
    width: calc(100% - 2rem);
}

html .heroBanner h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #41465d;
    margin-top: 8px;
    margin-bottom: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html[data-theme='dark'] .heroBanner h2 {
    color: #b3b8d2;
}

.heroBanner code {
    background: #272c3d;
    padding: 10px 20px;
}

.heroBanner code span {
    color: #f2f3fb;
}

.logoBlur {
    position: absolute;
    width: 680px;
    height: 680px;
    top: -120px;
    left: -100px;
    z-index: -1;
}

@media only screen and (min-device-width: 1101px) and (max-device-width: 1440px) {
    .tagline {
        font-size: 56px;
        line-height: 78px;
    }
}

@media only screen and (min-device-width: 997px) and (max-device-width: 1100px) {
    .tagline {
        font-size: 48px;
        line-height: 64px;
    }
}

@media only screen and (max-device-width: 996px) {
    .logo,
    .logoBlur {
        display: none;
    }
}

@media only screen and (max-device-width: 736px) {
    .heroBanner {
        padding-top: 20px;
        padding-bottom: 2rem;
    }

    .tagline {
        font-size: 32px;
        line-height: 48px;
    }

    .tagline br {
        display: none;
    }

    .hideSmall {
        display: none;
    }
}

.tagline span {
    color: var(--ifm-color-primary);
}
